/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,500,600,700,800,900&display=swap');

body{
  font-family: 'Roboto Slab', serif;
  color: white;
}

main {
  background-image: url(../img/background2.jpeg);
  background-size: cover;
  display: grid;
  grid-template-columns: 5% 1fr 1fr 1fr 1fr 5%;
  grid-auto-rows: auto;
}

header {
  display: flex;
  justify-content: center;
  text-align: center;
  grid-column: 2/6;
  grid-row-start: 1;
  z-index: 1;
}

h1 {
  font-weight: 900;
}

.trailer {
  grid-column: 2/6;
  grid-row-start: 2;
  z-index: 1;
}

.info {
  align-content: center;
  display: flex;
  flex-direction: column;
  font-weight: 800;
  grid-row-start: 3;
  grid-column: 2/6;
  justify-content: space-evenly;
  z-index: 1;
}

.info p:first-of-type {
  padding-right: 30%;
}

.cast {
  grid-column: 2/6;
  grid-row-start: 4;  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

aside {
  grid-column: 2/4;
  grid-row-start: 5;
}

footer {
  grid-column: 4/6;
  grid-row-start: 5;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.cast figure {
  filter:brightness(70%);
  height: 300px;
  width: 300px;
  position: relative;
  -webkit-box-shadow: 10px 13px 24px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 13px 24px -8px rgba(0,0,0,0.75);
  box-shadow: 10px 13px 24px -8px rgba(0,0,0,0.75);
  border-radius: 15px;
}

.explosion {
  grid-column: 1/-1;
  grid-row: 1/4;
}

.explosion img {
  object-fit: none;
  filter:brightness(70%);
}

.cast figure:hover {
  filter:brightness(100%);
}

.cast figure:hover h2 {
  background-color:rgba(0,0,0,0.5);
}

h1 {
  font-size: 7em;
  margin: 30px 0 30px 0;
  padding: 0;
}

h2 {
  color:white;
  position: absolute;
  z-index:1;
}

.pegg h2 {
  bottom:10px;
  left: 80px;
}

.frost h2 {
  bottom:10px;
  left: 90px;
}

.nighy h2 {
  bottom:10px;
  left: 100px;
}

.freeman h2 {
  bottom:10px;
  left: 55px;
}

.dalton h2 {
  bottom:10px;
  left: 60px;
}

.woodward h2 {
  bottom:10px;
  left: 40px;
}

li {
  display: inline-block;
  margin-right: 15px;
}

a {
  color: white;
  text-decoration: none;
  font-weight: lighter;
}

a:hover {
  font-weight: 900;
}

/* Custom Control Styling */
.plyr--full-ui input[type=range]{
  color: #0066ff;
}

/* 
  Mobile: 
  * 384px = 24em
*/
@media only screen and (min-width: 0) { 
  
}

/* Tablet:  
  * 768px = 48em 
*/
@media only screen and (min-width: 24em)  {

}

/* Desktop: 
  * 1152px = 72em
*/
@media screen and (min-width: 72em)  { 


}

/* Wide Desktop: 
  * 1440px = 90em
*/
@media screen and (min-width: 90em) { 


}


