@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,400,500,600,700,800,900&display=swap');

:root {
    --font-family: 'Roboto Slab', sans-serif;
    --font-family-header: 'Roboto Slab', sans-serif;
    --font-weight: 400;
    --font-weight-bold: 700;
    --font-size-xlarge: 30px;
    --font-size-large: 25px;
    --font-size-medium: 20px;
    --font-size: 16px;
    --font-size-small: 14px;
 	--lineheight-high: 1.75em;
    --lineheight-normal: 1.5em;
    --lineheight-tight: 1.2em;
    --margin-base: 20px;
    --margin-large: 40px;
    --margin-xlarge: 60px;
    --margin-xxlarge: 80px;
    --margin-xxxlarge: 100px;
    --grid-gap: 60px;
    --grid-gap-small: 20px;
    --grid-gap-vsmall: 0px;
    --max-width: 92rem;
    --color-base: #333333;
    --color-accent : #808080;
    --color-accent-second : #333333;
}

@media (min-width: 768px) {
	:root {
		--font-size-xlarge: 30px;
	    --font-size-large: 28px;
	    --font-size-medium: 20px;
	    --font-size: 16px;
	}
}

@media (min-width: 1200px) {
	:root {
		--font-size-xlarge: 34px;
	    --font-size-large: 28px;
	    --font-size-medium: 20px;
	    --font-size: 16px;
	}
}

@-ms-viewport {
    width: device-width
}

@-o-viewport {
    width: device-width
}

@viewport {
    width: device-width
}

html {
box-sizing: border-box;
overflow-x: hidden;
-webkit-text-size-adjust: 100%;
height: 100%;
}

*, *:before, *:after {
box-sizing: border-box;
}

body {
	-webkit-font-smoothing: antialiased;
	font-family: var(--font-family);
	background: #fff;
	background-size: 100%;
	display: grid;
	grid-template-columns: 1fr;
  color: whitesmoke;
	height: 100%;
}

html {
	background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 var(--margin-base);
    font-family: var(--font-family-header);
    line-height: var(--lineheight-tight);
    font-weight: var(--font-weight-bold);
    color: var(--color-base);
    letter-spacing: -0.01em;
}

h1 {
    margin: 0 0 var(--spacing-x-large);
    font-size: var(--font-size-xlarge);
}

h2 {
    font-size: var(--font-size-large);
}

h3 {
    font-size: var(--font-size-medium)
}

h4 {
    font-size: var(--font-size)
}

h5,
h6,
p,
ul,
ol {
    font-size: var(--font-size);
    line-height: var(--lineheight-high);
    font-weight: var(--font-weight);
}

p {
	margin-bottom: 30px;
	text-align: justify;
}

a {
	color: inherit;
	font-weight: var(--font-weight-bold);
}

a:hover {
	text-decoration: none;
}

h1 > a,
h2 > a,
h3 > a,
h4 > a {
	text-decoration: none;
}

.headline {
	font-size: var(--font-size-large);
	font-weight: var(--font-weight-bold);
	line-height: var(--lineheight-normal);
	margin-bottom: 40px;
}

.xlarge {
	font-size: var(--font-size-xlarge);
	line-height: var(--lineheight-tight);
	margin-bottom: 20px;
}

.large {
	font-size: var(--font-size-large);
	line-height: var(--lineheight-tight);
	margin-bottom: 20px;
}

.medium {
	font-size: var(--font-size-medium);
	margin: 0 0 var(--margin-base) 0;
	color: var(--color-accent);
	line-height: var(--lineheight-tight);
}

.standard {
	font-size: var(--font-size);
	margin: 0 0 var(--margin-base) 0;
	color: var(--color-accent);
	line-height: var(--lineheight-normal);
}

.small {
	font-size: var(--font-size-small);
	margin: 0 0 var(--margin-base) 0;
	color: var(--color-accent);
	line-height: var(--lineheight-normal);
}

blockquote {
	position: relative;
	padding-left: 20px;
}

.uppercase {
	text-transform: uppercase;
}

.bold,
strong,
b {
	font-weight: var(--font-weight-bold);
}

blockquote {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	line-height: 1.2;
	font-size: 20px;
	color: #999;
	padding: 30px;
	position: relative;
	text-align: center;
	grid-row: 2;
}

p + blockquote {
	margin-top: 50px;
	margin-bottom: 50px;
	padding-left: 80px;
}

img {
	width: 100%;
}

figure img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

p {
	font-size: 15px;
	line-height: 1.4em;
}

p:last-child {
	margin-bottom: 0;
}

main {
  background-image: url(../img/background1.jpeg);
  background-size: cover;
	display: grid;
	padding: 20px 20px 0 20px;
	grid-template-columns: 1fr;
	grid-gap: 20px 4vw;
}

.headers {
	padding: 0 20px;
	align-self: flex-start;
	grid-column: 1;
	grid-row: 1;
	display: grid;
}

h1 {
	font-size: 13vw;
	font-weight: 700;
	z-index: 3;
	margin: -20px 0 0 0;
	color: #e31e33;
	transform: rotate(-2deg);
	text-shadow: -8px 8px 0px white;
	letter-spacing: -2px;
}

h2 {
	font-size: 5vw;
	font-weight: 700;
	z-index: 4;
	margin: 0;
	padding: 10px 30px;
	color: #fff;
	background-color: #e31e33;
	display: inline-block;
	transform: rotate(2deg);
	justify-self: flex-end;
	letter-spacing: -2px;
	grid-column: 1/-1;
	grid-row: 1;
}

.div-one {
	overflow: hidden;
	padding-bottom: 40px;
}

.bold {
	font-weight: 700;
}

.copy {
	grid-column: 1;
	align-content: flex-end;
	grid-row: 1;
	display: grid;
}

.copy-two {
	grid-row: 3;
}

.explosion {
  grid-row: 4;
}

.headers {
	grid-row: 1;
	padding: 0;
}

.image {
	grid-row: 3;
	position: relative;
	margin-bottom: -50px;
}

.image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.image-pull {
	float: right;
	width: 60%;
	shape-outside: url('../img/vvd-shape2.png'); 
	height: auto;
}


@media only screen and (min-width: 768px) {
	body {
		grid-template-columns: 5% 1fr 5%;
	}

  aside {
    position: relative;
    top: 200px;
  }

	main {
		padding: 20px 20px 0;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 20px 50px;
		grid-column: 2;
	}

	.headers {
		padding: 0 20px;
		grid-column: 1/-1;
		grid-row: 1;
		margin-top: 50px;
	}

	h1 {
		font-size: 10vw;
	}

	h2 {
		z-index: 1;
		font-size: 4vw;
	}

	.copy {
		grid-column: 1/-1;
	}

  .trailer {
    grid-column: 1/-1;
    grid-row: 2;
  }

	.div-one {
		grid-column: 1/-1;
    grid-row: 3;
		overflow: visible;
		padding: 0;
	}

	.image-pull + p {
		margin-top: 50px;
	}
  
	.div-two {
		grid-column: 1/-1;
    grid-row: 5;
		padding-bottom: 40px;
		align-self: center;
	}

	.image {
		grid-column: 2;
		grid-row: 4;
		margin-left: -300px;
	}

	.image img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.image-pull {
		float: right;
		width: 40%;
	}

	.main-quote {
    top: 100px;
		grid-column: 3;
    grid-row: 3;
    padding: 20px;
    position: relative;
		max-width: 60%;
		margin: 40px auto 0;
	}

	blockquote:before {
		top: -10px;
		left: -10px;
		width: 80px;
		height: 80px;
	}
}

@media only screen and (min-width: 1024px) {
	body {
		grid-template-columns: 10% 1fr 10%;
	}

	.image-pull + p {
		margin-top: 100px;
	}
}


@media only screen and (min-width: 1400px) {
	body {
		grid-template-columns: 0 1fr 0;
	}

	main {
		grid-template-columns: 1fr 1fr 2fr;
		grid-gap: 50px 4vw;
		padding: 50px 100px 0;
  }
  
  aside {
    grid-column: 1;
    grid-row: 3;
    position: relative;
    top: 200px;
  }

	.headers {
		grid-column: 2/4;
		grid-row: 3;
		display: flex;
		flex-direction: column;
		padding: 0;
		margin: 0;
	}

	h1 {
    position: absolute;
    font-size: 7vw;
    right: 100px;
	}

	h2 {
		grid-row: 1;
		grid-column: 3;
		font-size: 3vw;
		align-self: flex-start;
		z-index: 1;
	}

	.image-pull + p {
		margin-top: 0;
	}

	.main-quote {
		grid-column: 1/3;
		grid-row: 1;
		padding: 50px 80px;
		color: #e31e33;
		font-size: 40px;
		font-weight: 700;
		max-width: 100%;
		margin: 0;
	}

	blockquote:before {
		font-size: 150px;
	}

	.div-one {
		grid-column: 1/3;
		grid-row: 3/ span 2;
		overflow: visible;
	}
  
  figure {
    width: 350px;
    margin: 50px 50px 0 0;
  }
  
	.div-two {
    display: flex;
    flex-wrap: wrap;
		grid-column: 1 / -1;
    grid-row: 5;
    justify-content: center;
	}


	.image {
		grid-column: 3;
		grid-row: 1 / span 3;
		margin-right: 0;
		align-self: flex-end;
		z-index: 1;
		margin-left: -150px;
  }
  
  .explosion {
    grid-row: 3;
    grid-column: 3;
  }
  
  .trailer {
    grid-column: 1/3;
    grid-row: 2;
  }

  footer {
    grid-column: 1;
    grid-row: 6;
  }
}


